{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carbon Emissions Predictor</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    {% include 'index.html' %}
    
    <h3 style="text-align: center; margin-top: 30px;">Predict Emissions by Year</h3>
    <br>
    <form method="POST" action="/predict/">
        {% csrf_token %}
        <label for="year">Enter Year (up to 2024):</label>
        <input type="number" id="year" name="year" required>
        <button type="submit">Predict</button>
    </form>
    
    <br>
    <br>

    {% if predicted_emissions is not None %}
        <h5 style="text-align: center;">Prediction:</h5>
        <p style="text-align: center; font-size: 10px;">{{ predicted_emissions }} MtCO2e</p>
        <p>{{ accuracy }}% accuracy</p>

        {% if emissions_comparison_plot_url %}
            <div style="display: flex; justify-content: center; margin-top: 20px;">
                <img src="{% url 'display_plot' %}" alt="Prediction Plot">
            </div>
        {% endif %}
    {% endif %}

    {% if error %}
        <h5 style="text-align: center; color: red;">Error:</h5>
        <p style="text-align: center; color: red;">{{ error }}</p>
    {% endif %}
    
    <footer>
        <section style='text-align: center; margin-top: 70px;'>
            <h5>Contact</h5>
            <p style='font-size: 10px;'><a href="mailto:kusmire@bc.edu" style="color: inherit; text-decoration: none;">If you have any questions or need support, please contact me at kusmire@bc.edu.</a></p>
            <a href="https://www.flaticon.com/free-icons/home" title="home icons" style="color: inherit; font-size: 8px; text-decoration: none;">Home icons created by Freepik - Flaticon</a>
        </section>
    </footer>
    
    <script>
        // Check if the page has been reloaded
        if (performance.navigation.type === 1) {
            // Remove plots if the page was reloaded
            const plotElement = document.getElementById('plots');
            if (plotElement) {
                plotElement.style.display = 'none';
            }
        }
    </script>
</body>
</html>